{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>TITLE</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    </body>
</html>
